{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/side-content.css' %}">
    {% block styles %} {% endblock %}
    <title>Blog | {{ page_data.page_title }}</title>
</head>
<body>
{% include 'navbar.html' %}
<div id="root">
    <div class="container side-container">
        {% include 'side-content.html' %}
    </div>
    <div class="container main-container">
        {% block content %} {% endblock %}
    </div>
</div>

{% include 'footer.html' %}
<script src="{% static 'js/index.js' %}"></script>
{% block script %} {% endblock %}
</body>
</html>