{% extends 'base.html' %}
{% block content %}
    {% if post %}
        <p class="post-title">{{ post.title }}</p>
        <p class="post-content">{{ post.content }}</p>
        <p>
            <span>{{ post.author }}</span>
            <span>{{ post.created_at }}</span>
        </p>
        <button onclick="deletePost('{% url 'delete' post.id %}', '{% url 'index' %}')">Delete</button>
        <button onclick="window.location.href='{% url 'edit' post.id %}'" >Edit</button>
    {% endif %}
{% endblock %}