{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}
{% block content %}
<div class="sub-container form-container card">
    {% if post %}
        <form class="new-form" action="" method="post">
            {% csrf_token %}
            <label for="title">Title</label>
            <input name="title" id="title" type="text" value="{{ post.title }}" autofocus>
            <label for="content">Content</label>
            <textarea name="content" id="content" rows="25">{{ post.content }}</textarea>
            {% if categories %}
                <select name="category" id="__post-categories">
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if category.id == post.category.id %} selected {% endif %}>{{ category.type }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            <div class="buttons-z">
                <button type="reset" value="reset">Reset</button>
                <button type="submit">Save</button>
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}