{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if posts %}
        <div class="index-header">
            <h2 class="main-header">{{ page_data.main_header }}</h2>
            <a class="more-posts" href="{% url 'posts' %}">See more</a>
        </div>
        <div class="index-container align-center">
            {% for post in posts %}
                <div class="blog-post card" onclick="window.location.href='{% url 'details' post.id %}'">
                    <h4>{{ post.get_title }}</h4>
                    <p>{{ post.get_content }}</p>
                    <span>{{ post.author }}</span>
                    <span>{{ post.created_at }}</span>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>No posts. Create a new one!</h1>
    {% endif %}
{% endblock %}