body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #e6edf3;
    height: 100%;
    margin: 0;
}
div#root {
    display: flex;
    align-items: flex-start;
    height: 85%;
}
.container {
    padding: 1rem 2rem 2rem 2rem;
    height: 100%;
}
div#container-new, div#container-edit {
    display: flex;
    justify-content: center;
    /* height: 100%; */
}
.blog-post {
    padding: 1rem;
    width: 29%;
    display: inline-block;
    margin: 0 2rem 1rem 0;
    transition: 0.2s;
}
.blog-post:hover {
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 4px 4px 5px #bdc7d0;
}
.side-container {
    width: 10%;
}
.main-container {
    width: 85%;
}
.index-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    padding: 1rem 2rem 2rem 2rem;
}
div.sub-container {
    padding: 2rem;
    width: 65%;
    /* height: 85%; */
    margin: auto;
    line-height: 16px;
    display: flex;
    justify-content: center;
}
.card {
    border: 1px solid #e1dede;
    border-radius: 8px;
    background-color: aliceblue;
}