body {
    font-family: 'Roboto', sans-serif;
    background-color: #e6edf3;
    height: 100%;
    margin: 0;
}
div#root {
    display: flex;
    align-items: flex-start;
    height: 85%;
}
.container {
    padding: 1rem 2rem 2rem 2rem;
    height: 100%;
}
div#container-new, div#container-edit {
    display: flex;
    justify-content: center;
    /* height: 100%; */
}
.blog-post {
    padding: 1rem;
    width: 29%;
    display: inline-block;
    margin: 0 2rem 1rem 0;
    transition: 0.2s;
    box-shadow: 4px 4px 5px #dbe2e7;
}
.blog-post:hover {
    /* transform: scale(1.01); */
    cursor: pointer;
    background-color: #d7e7e0;
    /* box-shadow: 4px 4px 5px #ced6de; */
    /* box-shadow: none; */
}
.side-container {
    width: 10%;
}
.main-container {
    width: 85%;
}
.index-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    padding: 1rem 2rem 2rem 2rem;
}
div.sub-container {
    padding: 2rem;
    width: 65%;
    /* height: 85%; */
    margin: auto;
    line-height: 16px;
    display: flex;
    justify-content: center;
}
.card {
    border: 1px solid #e1dede;
    border-radius: 8px;
    background-color: aliceblue;
}
button {
    width: 6rem;
    height: 2rem;
    margin: 5px;
    background-color: #d7e7e0;
    border: 1px solid #c0d7c5;
    border-radius: 6px;
}
button:hover {
    background-color: #aee6cd;
    cursor: pointer;
}
.buttons-z {
    align-self: flex-end;
}
select {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 40%;
    height: 2rem;
    border-radius: 4px;
    border: 1px solid #beb5b5;
    background: #fff;
}