body {
    font-family: sans-serif;
    background-color: #e6edf3;
}
div#root {
    display: flex;
    align-items: flex-start;
}
.container {
    padding: 1rem 2rem 2rem 2rem;
    /* border: 1px solid #1e3549; */
}
.align-center {

}
.blog-post {
    border: 1px solid #e1dede;
    border-radius: 8px;
    background-color: aliceblue;
    padding: 1rem;
    width: 28%;
    display: inline-block;
    margin: 0 2rem 1rem 0;
    transition: 0.2s;
}
.blog-post:hover {
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 4px 4px 5px #bdc7d0;
}
#footer {
    display: flex;
    justify-content: center;
}
.side-container {
    width: 10%;
}
.main-container {
    /* display: flex; */
    width: 85%;
    /* padding: 1rem 2rem 2rem 2rem; */
}